.talk-container {
  background-color: #6169CF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.talk-container__logo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.talk-container__logo--img {
  height: 10%;
  width: 10%;
}

.talk-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talk-container__form--label {
  color: #FFF;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

.talk-container__form--input {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  /* box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
  border: 1px solid #569FDD;
}

.talk-container__form--textarea {
  height: 120px;
  width: 50%;
  margin-top: 15px;
  border-radius: 5px;
  /* box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
  border: 1px solid #569FDD;
  resize: none;
}

.talk-container__form--btns {
  display: flex;
  align-items: center;
  margin: 20px 0px ;
}

.talk-container__form--btns__btn--send {
  margin-right: 10px;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.6em 1.6em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  color: #000000;
  background-color: #F7DF1D;
  font-weight: bold;
}

.talk-container__form--btns__btn--send:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.talk-container__form--btns__btn--send:active {
transform: translateY(-1px);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.talk-container__form--btns__btn--send::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 100px;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s;
}

.talk-container__form--btns__btn--send::after {
background-color: #F7DF1D;
font-weight: bold;
}

.talk-container__form--btns__btn--send:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

